.d-board-container {
  width: 220px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1px;
}
ul {
  margin-left: 1px;
  padding-left: 2px;
}
